<header class="header">
  <div class="navbar" id="navigation">
    <a href="/">
      <img alt="Tesoro CS Logo" class="logo logo-large" src="/logos/header_white.png">
    </a>
    <a class="menu-item" href="/about.html">About</a>
  </div>
</header>
